{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        // "useBuiltIns": "usage",
        // "corejs": {
        //   "version": "3.37",
        //   "proposals": true // 是否开启编译处于提案阶段的 ES6+ API
        // },
        "modules": false
      }
    ],
    "@docusaurus/core/lib/babel/preset"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "polyfill-corejs3",
      {
        "method": "usage-pure",
        "version": "3.37.1",
        "proposals": true // 是否开启编译处于提案阶段的 ES6+ API
      }
    ]
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "corejs": {
    //       "version": 3,
    //       "proposals": true // 是否开启编译处于提案阶段的 ES6+ API
    //     }
    //   }
    // ]
  ],
  "ignore": [
    "node_modules/**"
  ]
}
