registry = https://registry.npmjs.org # npm
# registry = https://registry.npmmirror.com/ # npmmirror
# registry = https://registry.npm.taobao.org # taobao
# registry = https://registry.yarnpkg.com # yarn
# registry = http://r.cnpmjs.org # cnpm
